.displayOnMobile {
    display: none;
}

.Open {
    transform: translateX(0)
}

.Close {
    transform: translateX(-100%)
}

@media (max-width: 500px) {
    .displayOnMobile {
        display: block;
    }
    .sideDrawer {
        display: block;
        position: fixed;
        width: 280px;
        max-width: 70%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 200;
        padding-left: 20px;
        text-align: left;
        background-color: #fff;
        box-sizing: border-box;
        transition: transform .5s ease-in;
    }
}

.Logo {
    margin-top: 5%;
    height: 6%;
}