.burger {
    width: 100%;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.bun {
    margin-top: 15px;
}

.deleteTip {
    display: none;
}

@media(max-width:700px) {
    .deleteTip {
        margin-top: 25px;
        display: block;
        font-family: 'Loboto', cursive;
        color: gray;
    }
    h1 {
        font-size: 2em;
    }
}