.Modal {
    position: fixed;
    z-index: 500;
    left: 25%;
    top: 50px;
    width: 50%;
    overflow: auto;
    margin: 0 auto;
    color: black;
    background-color: #eaeef2;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 3px 2px;
}

.ModalHeader,
.ModalFooter {
    background-color: #f2e14b;
}

.ModalHeader h2 {
    margin-top: 0;
    padding: 20px;
    font-weight: bold;
}

.ModalFooter {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.IngIcon {
    margin-left: 15px;
}
.confirmButton {
    margin-left: 80%;
}
@media (max-width:700px) {
    .Modal {
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
    }

    .ModalFooter {
        margin-top: auto;
    }
    .confirmButton { 
        margin-left: 65%;
    }
}