.confirmButton {
    background-color: #058e07;
    padding: 2%;
    color: white;
    border: none;
}

.cancelButton {
    background-color: #b71616;
    padding: 2%;
    color: white;
    border: none;
}

.closeModalButton {
    position: absolute;
    top: 0;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 2em
}

@media(max-width:500px) {
    .closeModalButton {
        font-size: 1.5em;
        top: 0;
        right: 0;
    }
}